.nav-wrapper{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: lightgrey;
    color: black;
    margin: 0;
    padding: 10px; 
   
}
.contact a {
    margin-left: 5px;
}